<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- End of Bootstrap components -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<div id="banner" class="jumbotron text-right">
    <form action="cart" method="get">
        <button style="font-size:40px"><i class="fa fa-shopping-cart"></i></button>
    </form>
    <!--    <div id="header-auth">-->
    <!--        <a id="bt-register" href="/register">Register</a>-->
    <!--        <button type="button" id="bt-login">Login</button>-->
    <!--    </div>-->
</div>

<div class="container">
    <!--    <div class="card">-->
    <!--        <strong th:text="${category.name}">Category Title</strong>-->
    <!--    </div>-->
    <div id="navbar" class="sidenav">
        <div class="my-navbar">
            <a href="/">Products</a>
            <button class="dropdown-btn category">Category
                <i class="bi bi-caret-down-fill"></i>
            </button>
            <div class="dropdown-container">
                <div th:each="category,iterStat : ${categories}">
                    <div><a th:href="'/index?category=' + ${category.id}" th:text="${category.name}"></a></div>
                </div>
            </div>
            <button class="dropdown-btn supplier">Supplier
                <i class="bi bi-caret-down-fill"></i>
            </button>
            <div class="dropdown-container">
                <div th:each="supplier,iterStat : ${suppliers}">
                    <div><a th:href="'/index?supplier=' + ${supplier.id}" th:text="${supplier.name}"></a></div>
                </div>
            </div>
            <a href="#">Contact</a>
            <a href="#">About</a>
        </div>
    </div>
    <div class="grid-container">
        <div id="products" class="row row-cols-4 row-cols-md-2">
            <div class="col col-sm-4 col-md-8 col-lg d-flex align-items-stretch"
                 th:each="prod,iterStat : ${allProducts}">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/400x250/000/fff"
                         th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" style="width:100%"/>
                    <div class="card-header">
                        <h5 class="card-title" th:text="${prod.name}">Product name</h5>
                        <p class="card-text" th:text="${prod.description}">Product description... </p>
                    </div>
                    <div class="card-footer mt-auto">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                        <a class="btn btn-success" th:attr="href='/index?product=' + ${prod.id}">
                            <i class="bi bi-cart4"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div th:replace="footer.html :: copy"></div>
</div>
<script src="static/js/style.js"></script>
</body>
</html>
