.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

#products {
    background: transparent;
    justify-content: center;

    display: grid;
    grid-template-columns: 320px 320px 320px 320px;
    grid-gap: 10px;
    padding: 10px;

}

header {
    padding: 0 30px;
}


#header-auth {
    float: right;
    margin: 15px;
}

#banner {
    background-image: url("banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 200px;
}

body {
    background-color: powderblue;

}

.my-navbar{
    height: 60%; /* Full height */
    width: 200px;
    position: absolute;
    z-index: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-image:url("nav-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.my-navbar a, .dropdown-btn {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

/* Change the link color on hover */
.my-navbar a:hover, .dropdown-btn:hover {
    background-color: #555;
    color: white;
}

.active {
    color: white;
}

.dropdown-container {
    display: none;
    padding-left: 8px;
}

.bi-caret-down-fill {
    float: right;
    padding-right: 8px;
}

@media screen and (max-height: 450px){
    .sidenav {padding-top: 15px}
    .sidenav a {font-size: 18px}
}

.container {
    margin: 0;
    padding: 0;
}

.grid-container {
    position: relative;
    width: 600px;
    margin-left: 25%;
    left: 20%;
}

.card-img-top {
    width: 185px;
    height: 150px;
}

.card {
    background: rgba(176, 224, 230, 0);
}

.card-footer {
    display: flex;
    justify-content: space-between;
}


/*.footer {*/
/*    position: relative;*/
/*}*/
   